{{- if .Values.networkPolicy.enabled -}}
# ------------------------------------------------------------------------
# Network Policy for the Redis - allows incoming requests from API-Service
# ------------------------------------------------------------------------

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Chart.Name }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  
  policyTypes:
  - Ingress

  ingress:
  - from:
    # Loop through the allowed pods to connect
    {{- range .Values.networkPolicy.ingress.from }}
    - {{ toYaml . | nindent 6 }}
    {{- end }}
    ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
{{- end -}}
